<launch>
	<node pkg="n3ctrl" type="n3ctrl_node" name="n3ctrl" output="screen">
		<remap from="~joy" to="/djiros/rc" />
        <remap from="~odom" to="/dji_n3/odom" />
		<remap from="~imu" to="/djiros/imu" />
		<remap from="~cmd" to="/planning/pos_cmd" />
		<remap from="~point_cmd" to="/dji_n3ctrl/point_cmd" />

		<remap from="~desire_pose" to="/desire_pose" />
		<remap from="~traj_start_trigger" to="/traj_start_trigger" />
		<remap from="~ctrl" to="/djiros/ctrl" />

		<rosparam command="load" file="$(find n3ctrl)/config/ctrl_param_dji.yaml" />
        <param name="work_mode" value="simulation" />
        <param name="js_ctrl_mode" value="feedback" />
	</node>
</launch>
